{% extends "base.html" %}
{% block header_css %}
{% endblock %}
{% block content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="page-header">
                           <a href="{% url 'index' %}"><i class="fa fa-home"></i> 首页</a> > <a href="{% url 'task:front_list' %}">项目配置</a> > <a href="{% url 'task:front_list' %}">前端项目配置</a> > 前端项目修改
                        </h4>
                    </div>
                </div>
                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                前端项目修改
                            </div>
                            <div class="panel-body">
				<div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
					    <form id='form1' method='post' action="{% url 'task:modify_project' project_obj.id %}">{% csrf_token %}
                                              <tr>
                                                <td>项目名称 {{front_project_form.project_name}}</td>
                                              </tr>
					      <tr>
					        <td>项目类型 {{front_project_form.front_type}}</td>
					      </tr>
                                              <tr>
						<td>项目主机 {{front_project_form.front_host}}</td>
					      </tr>
					      <tr>
						<td><input style='margin-left:230px' type='submit' value='提交' class="btn btn-primary" /><input style='margin-left:10px' type='reset' value='重置' class="btn btn-primary" /></td>
					      </tr>
					    </form>                        
                                        </tbody>
                                    </table>
                               </div>
                          </div>
                      </div>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
{% endblock %}
{% block bottom_js %}
	<script>
		$('#id_project_name').val("{{project_obj.project_name}}");
		$('#id_front_type').find('option').each(function(){
			if($(this).val()=="{{project_obj.front_type_id}}"){
                        	$(this).attr('selected','selected');
                        }
		})
		$('#id_front_host').find('option').each(function(){
                        if($(this).val()=="{{project_obj.front_host_id}}"){
                                $(this).attr('selected','selected');
                        }
                })
	</script>
{% endblock %}
